@media (min-width: 541px) and (max-width: 970px) {
    .main-title p
    {
        font-size: 50px;
    }
    .about-col
    {
        margin: 60px auto 30px;
    }
    .about-text .text-2
    {
        max-width: 60%;
        margin: 10px auto;
    }
    .row-4
    {
        margin-bottom: 50px;
    }
    .row-5
    {
        display: flex;
        flex-direction: column;
    }
    .team-col img
    {
        max-width: 50%;
        margin: 10px auto;
    }
    .team-title p
    {
        margin: 10px 60px;
    }
    .clients-img
    {
        padding: 20px;
    }
    
}


@media (max-width: 540px) {
    .main-title p
    {
        font-size: 24px;
         margin: 200px auto;
    }
    .about-page
    {
        margin: 50px auto;
    }
    .about-page .page-2
    {
        font-size: 14px;
        max-width: 96%;
        margin: 10px auto;
    }
    .about-page .page-1
    {
    font-size: 34px;
    }
    .some-title p
    {
    font-size: 26px;
    margin: 60px auto 30px;
    }
    .row-4
    {
        margin-bottom: 50px;
    }
    .row-5
    {
        display: flex;
        flex-direction: column;
    }
    .team-col img
    {
        max-width: 80%;
        margin: 10px auto;
    }
    .team-title p
    {
        margin: 10px 60px;
    }
    .clients-img
    {
        padding: 25px;
        height: 50%;
        width: 50%;
        margin: 5px auto;
    }
    
}