@media (max-width: 900px) {
.toggle-nav
    {
        display: block;
        height: 50px;  
    }
    .hamburger
    {
        display: block;
        margin-right: 20px;
        margin-top: 12px;
        float: right;
        transform: rotate(90deg);
        height: 30px;
        font-size: 32px;
        font-weight: 500;
    }
    .hambuerger:hover
    {
     cursor: pointer;
    }
    nav
    {
        display: block;
        height: 50px;
    }
    nav li
    {
        display: block;
        height: 100%;
        background: #fff;
        padding: 10px;
        line-height: 50px;
    }
    nav li:last-child
    {
        border-bottom: 1px solid black;
    }
    nav a
    {
        width: 100%;
        display: block;
        padding: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    nav ul 
    {
        display: none;
        margin-left: 0px;
    }
    .m-mouse-icon
    {
       margin: 150px auto 10px; 
    }

}



@media (min-width: 541px) and (max-width: 970px) {
    .main-title p
    {
        font-size: 46px;
        margin: 200px auto 30px;
    }
    .about-col
    {
        margin: 60px auto 30px;
    }
    .about-text .text-2
    {
        max-width: 60%;
        margin: 10px auto;
    }
    .row-4
    {
        margin-bottom: 50px;
    }
    .row-5
    {
        display: flex;
        flex-direction: column;
    }
    .team-col img
    {
        max-width: 50%;
        margin: 10px auto;
    }
    .team-title p
    {
        margin: 10px 60px;
    }
    .clients-img
    {
        padding: 20px;
    }
    .contact-map img
    {
        height: 320px;
    }
    .row-7
    {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    }
    .contact-col-2
    {
        margin: 80px auto 10px;
    }
}

@media (min-width: 860px) and (max-width: 1000px) {
    .hovereffect-1 img
    {
        min-width: 100%;
    }
}

@media (min-width: 565px) and (max-width: 770px) {
    .hovereffect-1 img
    {
        min-width: 100%;
    }
}

@media (min-width: 550px) and (max-width: 768px) {
    .clients-img
    {
        max-width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    #main
    {
        min-height: 520px;
    }
    .main-title p
    {
        font-size: 24px;
         margin: 200px 10px;
    }
    .about-page
    {
        margin: 50px auto;
    }
    .about-page .page-2
    {
        font-size: 14px;
        max-width: 96%;
        margin: 10px auto;
    }
    .about-page .page-1
    {
    font-size: 34px;
    }
    .some-title p
    {
    font-size: 26px;
    margin: 60px auto 30px;
    }
    .row-4
    {
        margin-bottom: 50px;
    }
    .row-5
    {
        display: flex;
        flex-direction: column;
    }
    .team-col img
    {
        max-width: 80%;
        margin: 10px auto;
    }
    .team-title p
    {
        margin: 10px 60px;
        font-size: 15px;
    }
    .clients-img
    {
        padding: 25px;
        height: 50%;
        width: 50%;
        margin: 5px auto;
    }
    .smart-1
    {
        font-size: 14px;
        width: 90%;
    }
    .contact-map img
    {
        height: 250px;
    }
    .row-7
    {
    display: flex;
    flex-direction: column;
    text-align: center;
    }
    .contact-col-2
    {
        margin: 80px auto 10px;
    }
    .paral-text
    {
        font-size: 30px;
        margin: 140px auto 60px;
    }
    nav li
    {
        padding: 5px;
    }
    .m-mouse-icon
    {
       margin: -50px auto 150px; 
    }

}