*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    
}

/* sekcja main */

#main
{
    background-image: url('../img/main/back.jpg');
    background-size: cover;
    overflow: auto;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 300px;
    min-height:670px;
    max-width: 100%;
    max-height:100%;
    margin: 0 auto;
    display: block;
}
.row-1
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title p
{
    font-size: 90px;
    text-transform: uppercase;
    color: #fff;
    margin: 250px auto 50px;
}


/* Sekcja about */
.row-2
{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.about-page
{
    margin: 90px auto 80px;
    width: 650px;
}
.about-page .page-1
{
    font-size: 44px;
    text-transform: uppercase;
    font-weight: bold;
    color: #E4D20C;
}
.about-page .page-2
{
    letter-spacing: 1px;
    font-size: 16px;
}
.about-col
{
    margin: 70px auto 50px;
    text-align: center;
}
.about-text .text-1
{
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}
.about-text .text-2
{
    color: #696f6f;
    font-size: 14px;
    letter-spacing: 1px;
}
.about-icon
{
    font-size: 60px;
}


/* Sekcja some-us */
#some-us
{
    background-image: url('../img/paral/paral.jpg'); 
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 80px auto;
    color: #fff;
}
.some-title p
{
    font-size: 46px;
    font-weight: bold;
    margin: 90px auto 50px;
}
.some-icon
{
    font-size: 40px;
    margin-top: 30px;
}
.some-1
{
    font-size: 54px;
    font-weight: bold;
}
.some-2
{
    text-transform: uppercase;
    font-size: 18px;
}



/* Sekcja team */
#team
{
    margin: 50px auto;
}
.team-title
{
    margin: 70px auto;
}
.team-title h3
{
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    color: #E4D20C;
}
.team-title p
{
    letter-spacing: 1px;
    font-size: 18px;
    color: #696f6f;
    line-height: 1.5em;
}
.row-5
{
    display: flex;
}
.team-col
{
    flex: 1;
    padding: 25px;
    text-align: center;
}
.team-col img
{
    width: 100%;
    border-radius: 3px;
}
.team-text
{
    text-align: center;
    margin: 20px auto;
}
.team-text .team-text-1
{
    font-size: 22px;
    color: #000;
}
.team-text .team-text-2
{
    font-size: 17px;
    color: #696f6f;
}


/* Sekcja clients */
#clients 
{
    margin: 60px auto;
}
.team-title
{
    margin: 70px auto;
}
.team-title h3
{
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    color: #E4D20C;
}
.team-title p
{
    letter-spacing: 1px;
    font-size: 18px;
    color: #696f6f;
    line-height: 1.5em;
}
.clients-img
{
    opacity: 0.5;
    padding: 10px;
}
.clients-img:hover
{
    opacity: 1;
}
.clients-img img
{
    width: 80%;
}

/* Sekcja clients */
#paral-2
{
   margin: 40px auto; 
    background-image: url('../img/paral/image-2.jpg'); 
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.paral-text
{
    font-size: 48px;
    color: #fff;
    letter-spacing: 0.5px;
    margin: 180px auto 50px;
    font-weight: 300;
}
.paral-btn .btn
{
    border: 2px solid #E4D20C;
    width: 240px;
    height: 50px;
    color: #E4D20C;
    font-size: 20px;
    background: transparent;
}
.paral-btn .btn:hover
{
    color: #000;
    background: #E4D20C;
}